<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css"/>
    <title>@ViewBag.Title</title>
</head>
<body class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="" style="height:20px; width: auto"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li>
                        <span class="navbar-brand">Biluthyrning AB</span>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Bookings" asp-action="Index">Overview</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Bookings" asp-action="Book">Book a car</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Bookings" asp-action="Calculate">Calculate price</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="CheckPrice">Pricing info</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <div style="text-align:center; padding-top:4em">
        @RenderBody()
    </div>
        @RenderSection("Script", false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
