
@{
    ViewData["Title"] = "Boka";
}
@model CreateBookingVM

<h2 style="font-weight:bold; padding-bottom: 5px ">Boka en bil</h2>
<br />

@*Personens som ska hyra personnummer*@

@*Startdag ur kalender*@

@*Om man kom till sidan genom navbar ska alla bilar listas (alla ska vara förvalt)
Om man kom hit via en bil från översikten ska den relevanta biltypen samt den relevanta biltypen vara förvald så man bara behöver klicka på skicka!*@

<div>
    <form class="form-group" asp-controller="Bookings" asp-action="Book">
        <div class="row" style="position:center">
            <div class="col-3"></div>
            <div class="custom-control custom-radio col-2">
                <input type="radio" id="litenBil" name="CarType" class="custom-control-input" value="Liten bil" checked="">
                <label class="custom-control-label" for="litenBil">Liten bil</label>
            </div>
            <div class="custom-control custom-radio col-2">
                <input type="radio" id="van" name="CarType" class="custom-control-input" value="Van">
                <label class="custom-control-label" for="van">Van</label>
            </div>
            <div class="custom-control custom-radio col-2">
                <input type="radio" id="minibuss" name="CarType" class="custom-control-input" value="Minibuss">
                <label class="custom-control-label" for="minibuss">Minibuss</label>
            </div>
            <div class="col-3"></div>
        </div>

        @*Göra AJAX-anrop för att sortera upp relevanta bilar
            Sedan kunna välja bland bilar av vald typ
            Man ska kunna välja av befintliga bilar av vald typ, sedan köra en submit nedan så skickas bilen med in i vymodellen
            *@



        <br />
        <input type="submit" value="Boka bil" class="btn btn-secondary" />
    </form>

</div>